/* Global styles that complement tailwind */

#root {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .animate-slow-spin {
    animation: spin 20s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}